HELP.md
target/*
!target/*.jar
!/target/site/jacoco/jacoco.xml
logs/
!/build/reports/jacoco/test/jacocoTestReport.xml

### STS ###
.apt_generated
.classpath
.factorypaths
.project
.settings
.springBeans
.sts4-cache
.vscode
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/