.main {
	padding-top: clamp(24px, 5.58%, 66px);
	padding-bottom: clamp(32.38px, 7.53%, 88px);
}

@media (min-width: 1900px) {
	.main {
		padding-top: clamp(66px, 6.98vh, 145px);
		padding-bottom: clamp(88px, 9vh, 250px);
	}
}
