.h2 {
	font-size: clamp(2rem, 4.5vw, 3.2rem);
}

.mainParagraph {
	font-size: clamp(1.6rem, 3.7vw, 2rem);
}

.h3 {
	font-size: 2rem;
}

.secondaryParagraph {
	font-size: 1.6rem;
}

.button {
	font-size: clamp(1.3rem, 3vw, 2.4rem);
}

@media (min-width: 800px) {
	.h3 {
		font-size: 1.8rem;
	}
}

@media (min-width: 2000px) {
	.h2 {
		font-size: clamp(3.2rem, 2.3vw, 7rem);
	}

	.mainParagraph {
		font-size: clamp(2rem, 2.3vw, 4rem);
	}

	.h3 {
		font-size: clamp(2rem, 1.5vw, 4.5rem);
	}

	.secondaryParagraph {
		font-size: clamp(2.5rem, 4.5vw, 3.5rem);
	}

	.button {
		font-size: clamp(2.4rem, 2vw, 3.5rem);
	}
}
