.h2ClampText {
	font-size: clamp(2rem, 4.6vw, 5.178rem);
}

.h2LogoClampText {
	font-size: clamp(3.5rem, 8.12vw, 5.178rem);
}

.mainTextLogo {
	font-size: clamp(1.2rem, 2.77vw, 2.4rem);
}

.mainText {
	font-size: clamp(1rem, 2.32vw, 1.978rem);
}

@media (max-width: 420px) {
	.h2LogoClampText {
		font-size: 2rem;
	}
}

@media (min-width: 1900px) {
	.h2ClampText,
	.h2LogoClampText {
		font-size: clamp(4.178rem, 3.5vw, 7rem);
	}

	.mainTextLogo {
		font-size: clamp(2rem, 1.5vw, 3rem);
	}

	.mainText {
		font-size: clamp(1.6rem, 1.2vw, 2.7rem);
	}
}

@media (min-width: 2500px) {
	.h2ClampText,
	.h2LogoClampText {
		font-size: clamp(9rem, 4vw, 15rem);
	}

	.mainTextLogo {
		font-size: 3.2rem;
	}

	.mainText {
		font-size: clamp(2.8rem, 1.1vw, 5rem);
	}
}
